{
  "semi": true,
  "tabWidth": 2,
  "rangeStart": 0,
  "useTabs": false,
  "endOfLine": "crlf",
  "singleQuote": true,
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "arrowParens": "avoid",
  "trailingComma": "none",
  "bracketSameLine": true
}
